.film_item_placeholder {
	width: 35vw;
	cursor: pointer;

	&-img {
		width: 100%;
		height: 315px;
		background: gray;
	}

	&__title {
		display: flex;
		justify-content: center;
	}

	&__text {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 600px) {
	.film_item_placeholder {
		width: 65vw;
	}
}
