.header_searh {
	position: relative;
	width: 50vw;

	&__dropdown {
		top: 120% !important;

		width: 100%;
		max-height: 300px;
		overflow-y: auto;
	}
}

@media (max-width: 575px) {
	.header_searh {
		width: 100%;
	}
}
