@import "styles/vars.scss";

.film_page {
	position: relative;
	margin-top: 56px;
	display: flex;
	flex-direction: column;

	&__arrow_back {
		position: fixed;
		top: 56px;
		left: 0;
		margin: 1rem;
		z-index: 2;
		cursor: pointer;
	}

	&__film_info {
		max-width: 100%;

		&__photo {
			padding-left: 0;

			&-img {
				width: 100%;
				mask-image: linear-gradient(
					to left,
					transparent 5%,
					rgba(0, 0, 0, 1) 70%,
					black 100%
				);
			}
		}

		&-div {
			padding-right: 2rem;

			&__about {
				display: flex;
				flex-direction: column;
				align-items: center;

				&__name {
					margin: 3rem 0 2rem 0;
				}

				&__country_genres {
					width: 100%;
					justify-content: space-between;

					.film_page__film_info-div__about__country {
						padding-right: 1rem;
					}

					.film_page__film_info-div__about__genres {
						display: flex;
						justify-content: end;
					}
				}

				&__rating_series {
					display: flex;
					width: 100%;
					justify-content: space-between;
				}
			}
		}

		&__reviews {
			&-span {
				text-align: center;
				font-size: var(--size3);
			}

			&__no_reviews-span {
				text-align: center;
				font-size: var(--size4);
			}
		}

		&__similar {
			padding: 0 2rem;

			&-span {
				text-align: center;
				font-size: var(--size3);
			}

			&__no_similar-span {
				text-align: center;
				font-size: var(--size4);
			}
		}
	}
}

@media (max-width: 900px) {
	.film_page {
		&__film_info {
			&__photo {
				position: absolute;
				width: 100%;
				opacity: 0.25;

				&-img {
					width: 100%;
					height: calc(100vh - 56px);
					mask-image: none;
					object-fit: cover;
				}
			}

			&-div {
				width: 100%;
				z-index: 1;
			}
		}
	}
}

@media (max-width: 600px) {
	.film_page {
		&__film_info {
			&-div {
				&__about {
					&__country_genres {
						flex-direction: column;

						.film_page__film_info-div__about__genres {
							justify-content: start;
							text-align: start !important;
						}
					}
				}
			}
		}
	}
}
