@import "styles/vars.scss";

// sizes
.s0 {
	font-size: var(--size0);
}

.s1 {
	font-size: var(--size1);
}

.s2 {
	font-size: var(--size2);
}

.s3 {
	font-size: var(--size3);
}

.s4 {
	font-size: var(--size4);
}

.s5 {
	font-size: var(--size5);
}

.s6 {
	font-size: var(--size6);
}

.s7 {
	font-size: var(--size7);
}

// weights
.medium {
	font-weight: $medium;
}

.bold {
	font-weight: $bold;
}

// colors
.primary {
	color: $text-color-primary;
}

.secondary {
	color: $text-color-secondary;
}

.main {
	color: $text-color-main;
}

.max_lines {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines-count);
}
