@import "styles/vars.scss";

.similar_films {
	&__gallery {
		&__item {
			cursor: pointer;
			margin-bottom: 2rem;

			&-img {
				width: 100%;
				aspect-ratio: 2 / 3;
				object-fit: cover;
			}

			&-span {
				font-size: var(--size5);
				color: $text-color-primary;
				padding: 0 2rem;
				text-align: center;
			}
		}
	}
}
