@use "../../../../styles/font-sizes.scss" as fonts;
@use "../../../../styles/colors.scss" as colors;

.similar_movies {
	.similar_movies__gallery {
		.similar_movies__item {
			cursor: pointer;

			.similar_movies__item-img {
				width: 100%;
				aspect-ratio: 2 / 3;
				object-fit: cover;
			}

			.similar_movies__item-span {
				font-size: fonts.$size5;
				color: colors.$text-color;
				padding: 0 2rem;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.similar_movies {
		.similar_movies__gallery {
			.similar_movies__item {
				.similar_movies__item-span {
					font-size: fonts.$size6;
					padding: 0 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.similar_movies {
		.similar_movies__gallery {
			.similar_movies__item {
				.similar_movies__item-span {
					font-size: fonts.$size7;
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.similar_movies {
		width: 60vw !important;
		padding: 0;

		.similar_movies__gallery {
			.similar_movies__item {
				width: 50%;
			}
		}
	}
}
