@import "./vars.scss";

:root {
	--background-image: url("assets/img/background.png");
}

html {
	height: calc(100vh - 56px);
	width: 100%;
	background-color: $background-color;
}

body {
	height: calc(100vh - 56px);
	width: 100%;
	background-color: $background-color;
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div {
	color: $text-color;
	mask-image:
		black 0%,
		transparent 100%;
}

button {
	font-size: $size6 !important;
}

@media screen and (max-width: 330px) {
	button {
		font-size: $size6 !important;
	}
}
