@import "./vars.scss";

html,
#root {
	height: calc(100vh - 56px);
	width: 100%;
	background-color: $background-color;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("assets/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div {
	color: $text-color;
}

button {
	font-size: $size6 !important;
}

@media screen and (max-width: 330px) {
	button {
		font-size: $size6 !important;
	}
}
