@import "styles/vars.scss";

.review_item {
	&__title {
		font-size: $size5;
	}

	&__type,
	&__text,
	&__username,
	&__date {
		font-size: $size6;
	}

	&__text {
		max-height: 400px;
		overflow: auto;
	}

	p {
		margin: 0;
		padding: 0;
	}
}
