@import "styles/vars.scss";

.film_list {
	margin-top: 56px;

	&__intro {
		width: 100%;
		height: 220px;
		object-fit: cover;
		max-height: 220px; /* Установите max-height равным высоте элемента */
		transition: max-height 0.5s ease-out; /* Анимация изменения max-height */
	}

	&-span {
		display: flex;
		justify-content: center;
		padding: 1rem;
	}

	&__selectors {
		display: flex;
		justify-content: center;
		gap: 2vw;
		padding: 1rem 1rem 2rem 1rem;
	}

	&__gallery {
		max-width: 100%;
		display: flex;
		justify-content: center;

		&__grid {
			margin-left: 20px;
		}

		&__no_content-span {
			text-align: center;
			font-size: $size4;
		}
	}
}

@media (max-width: 450px) {
	.film_list {
		&__selectors {
			flex-direction: column;
			align-items: center;
		}
	}
}
